@using WebApplication2.Controllers
@{
    ViewData["Title"] = "Home Page";
    ListOfProducts list = new ListOfProducts();
    // list.ReadCSV();
    List<Product> listOfP = list.ProductList();
    List<string> Categories = list.ListOfCategories();
    List<string> Suppliers = list.ListOfSuppliers();
    
    
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <body>
    <label for="category"> Select Category</label>
    <select id="category" name="category" >
        @foreach (string category in Categories)
        {
            <option value="@category">@category</option>
        }
    </select>
    <button id="submitCategory">Submit category</button>
        <label for="supplier"> Select supplier</label>
        <select id="supplier" name="supplier" >
            @foreach (string supplier in Suppliers)
            {
                <option value="@supplier">@supplier</option>
            }
        </select>
        <button id="submitSupplier">Submit supplier</button>
    <script>
    document.getElementById("submitCategory").addEventListener("click", function ()
    {
        var selectedValue = document.getElementById("category").value;
        window.location.href="/home/category/"+selectedValue;
        }
        

        )
        
        
   document.getElementById("submitSupplier").addEventListener("click", function ()
   {
       var selectedValue = document.getElementById("supplier").value;
       window.location.href="/home/supplier/"+selectedValue;
       }
       

       )
    </script>


    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Desciption</th>
            <th>Category</th>
            <th>Image</th>
            <th>Price</th>
            <th>Supplier</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Product product in listOfP)
        {
            if (product.Category == "Transportation")
            {
                <tr>
                    <td> @product.Title</td>
                    <td> @product.Description</td>
                    <td> @product.Category</td>
                    <td> @product.Image</td>
                    <td> @product.Price</td>
                    <td> @product.Supplier</td>
                </tr>
            }
        }

        </tbody>
    </table>
    </body>
</div>